.wrapper {
  background: #f7f5f4 0% 0% no-repeat padding-box;
}
.header {
  padding-top: 36px;
  padding-bottom: 24px;
  font-family: proxima-nova, sans-serif;
  font-size: 32px;
  color: #43425d;
  background: white;
}
